<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，即sql隔离
注意：使用mapper代理方法开发的话，namespace就有特殊重要的作用了,namespace=mapper接口地址
 -->
<mapper namespace="com.abel.bigwater.verifymeter.mapper.BoxMapper">

    <insert id="insertBox" parameterType="com.abel.bigwater.verifymeter.model.VcMeterBox"
            useGeneratedKeys="true" keyColumn="box_id" keyProperty="boxId">
        INSERT INTO [dbo].[vc_meter_box]
        ([sizeId]
        ,[factId]
        ,[modelSize]
        ,[batchId]
        ,[factName]
        ,[sizeName]
        ,[meterCount]
        ,[meterVerified]
        ,[createBy]
        ,[createDate]

        ,[meterStrList]

        ,[boxStatus]
        ,[updateBy]
        ,[updateDate])
        VALUES
        ( #{sizeId}
        , #{factId}
        , #{modelSize}
        , #{batchId}
        , #{factName}
        , #{sizeName}
        , #{meterCount}
        , #{meterVerified}
        , #{createBy}
        , GETDATE()

        ,#{meterStrList}

        , #{boxStatus}
        , #{updateBy}
        , GETDATE())
    </insert>

    <select id="checkPassVerify" parameterType="com.abel.bigwater.verifymeter.model.VcMeterBox"
            resultType="com.abel.bigwater.verifymeter.model.VcMeterVerify">
        SELECT batchId
             , meterId
             , verifyTimes
             , verifyDate
             , verifyId
        FROM [dbo].[view_pass_meter_verify]
        <where>
            <if test="batchId != null">
                [batchId] = #{batchId}
            </if>
            AND meterId IN
            <foreach collection="meterIdList" item="mid" open="(" separator="," close=")">
                #{mid}
            </foreach>
        </where>
    </select>

    <select id="checkBoxMeter" parameterType="com.abel.bigwater.verifymeter.model.VcMeterBox"
            resultType="com.abel.bigwater.verifymeter.model.VcBoxMeter">
        SELECT meterId
             , boxId
        FROM vc_box_meter_list
        <where>
            <if test="boxId != null">
                boxId = #{boxId}
            </if>
            AND meterId IN
            <foreach collection="meterIdList" item="mid" open="(" separator="," close=")">
                #{mid}
            </foreach>
        </where>
    </select>

    <insert id="copyPassMeterList" parameterType="com.abel.bigwater.verifymeter.model.VcMeterBox">
        INSERT INTO [dbo].[vc_box_meter_list]
        ([boxId]
        ,[meterId]
        ,[batchId]
        ,[tempId]
        ,[verifyDate]
        ,[stuffName]
        ,[verifyResult]
        ,[boardResult]
        ,[forceVerifyNo]
        ,[moduleNo]
        ,[clientName]
        ,[factoryName]
        ,[meterName]
        ,[meterType]
        ,[sizeId]
        ,[modelSize]
        ,[portType]
        ,[verifyRule]
        ,[standardInstrument]
        ,[standardParam]
        ,[indoorTemp]
        ,[moisture]
        ,[validDate]
        ,[convertResult]
        ,[pressResult]
        ,[instrumentNo]
        ,[accurateGrade]
        ,[pipeTemp]
        ,[pipePressure]
        ,[pulse]
        ,[density]
        ,[displayDiff]
        ,[convertDiff]
        ,[q4]
        ,[q3]
        ,[q3toq1]
        ,[q4toq3]
        ,[q2toq1]

        ,[qr1]
        ,[qr2]
        ,[qr3]
        ,[qr4]

        ,[maxFlow]
        ,[minFlow]
        ,[commonFlow]
        ,[convertLimit]
        ,[verifyAgain]
        ,[outerCheck]
        ,[dataSrc])

        SELECT
         #{boxId}
        ,vr.[meterId]
        ,vr.[batchId]
        ,vr.[tempId]
        ,vr.[verifyDate]
        ,vr.[stuffName]
        ,vr.[verifyResult]
        ,vr.[boardResult]
        ,vr.[forceVerifyNo]
        ,vr.[moduleNo]
        ,vr.[clientName]
        ,vr.[factoryName]
        ,vr.[meterName]
        ,vr.[meterType]
        ,vr.[sizeId]
        ,vr.[modelSize]
        ,vr.[portType]
        ,vr.[verifyRule]
        ,vr.[standardInstrument]
        ,vr.[standardParam]
        ,vr.[indoorTemp]
        ,vr.[moisture]
        ,vr.[validDate]
        ,vr.[convertResult]
        ,vr.[pressResult]
        ,vr.[instrumentNo]
        ,vr.[accurateGrade]
        ,vr.[pipeTemp]
        ,vr.[pipePressure]
        ,vr.[pulse]
        ,vr.[density]
        ,vr.[displayDiff]
        ,vr.[convertDiff]
        ,vr.[q4]
        ,vr.[q3]
        ,vr.[q3toq1]
        ,vr.[q4toq3]
        ,vr.[q2toq1]

        ,vr.[qr1]
        ,vr.[qr2]
        ,vr.[qr3]
        ,vr.[qr4]

        ,vr.[maxFlow]
        ,vr.[minFlow]
        ,vr.[commonFlow]
        ,vr.[convertLimit]
        ,vr.[verifyAgain]
        ,vr.[outerCheck]
        ,vr.[dataSrc]
        FROM [dbo].[vc_meter_verify_result] vr
        LEFT JOIN [dbo].[view_pass_meter_verify] vp ON (
            vr.batchId = vp.batchId
            AND vr.meterId = vp.meterId
            AND vr.verifyId = vp.verifyId
        )
        <where>
            <if test="batchId != null">
                vr.[batchId] = #{batchId}
            </if>
            AND vr.[meterId] IN
            <foreach collection="meterIdList" item="mid" open="(" separator="," close=")">
                #{mid}
            </foreach>
        </where>
    </insert>

    <insert id="copyPassMeterSingle" parameterType="com.abel.bigwater.verifymeter.model.VcBoxMeter">
        INSERT INTO [dbo].[vc_box_meter_list]
        ([boxId]
        ,[meterId]
        ,[batchId]
        ,[tempId]
        ,[verifyDate]
        ,[stuffName]
        ,[verifyResult]
        ,[boardResult]
        ,[forceVerifyNo]
        ,[moduleNo]
        ,[clientName]
        ,[factoryName]
        ,[meterName]
        ,[meterType]
        ,[sizeId]
        ,[modelSize]
        ,[portType]
        ,[verifyRule]
        ,[standardInstrument]
        ,[standardParam]
        ,[indoorTemp]
        ,[moisture]
        ,[validDate]
        ,[convertResult]
        ,[pressResult]
        ,[instrumentNo]
        ,[accurateGrade]
        ,[pipeTemp]
        ,[pipePressure]
        ,[pulse]
        ,[density]
        ,[displayDiff]
        ,[convertDiff]
        ,[q4]
        ,[q3]
        ,[q3toq1]
        ,[q4toq3]
        ,[q2toq1]

        ,[qr1]
        ,[qr2]
        ,[qr3]
        ,[qr4]

        ,[maxFlow]
        ,[minFlow]
        ,[commonFlow]
        ,[convertLimit]
        ,[verifyAgain]
        ,[outerCheck]
        ,[dataSrc])

        SELECT
         v1.boxId
        ,v1.meterId
        ,v1.batchId
        ,vr.[tempId]
        ,ISNULL(vr.[verifyDate], GETDATE())
        ,vr.[stuffName]
        ,vr.[verifyResult]
        ,vr.[boardResult]
        ,vr.[forceVerifyNo]
        ,vr.[moduleNo]
        ,vr.[clientName]
        ,vr.[factoryName]
        ,vr.[meterName]
        ,vr.[meterType]
        ,vr.[sizeId]
        ,vr.[modelSize]
        ,vr.[portType]
        ,vr.[verifyRule]
        ,vr.[standardInstrument]
        ,vr.[standardParam]
        ,vr.[indoorTemp]
        ,vr.[moisture]
        ,vr.[validDate]
        ,vr.[convertResult]
        ,vr.[pressResult]
        ,vr.[instrumentNo]
        ,vr.[accurateGrade]
        ,vr.[pipeTemp]
        ,vr.[pipePressure]
        ,vr.[pulse]
        ,vr.[density]
        ,vr.[displayDiff]
        ,vr.[convertDiff]
        ,vr.[q4]
        ,vr.[q3]
        ,vr.[q3toq1]
        ,vr.[q4toq3]
        ,vr.[q2toq1]

        ,vr.[qr1]
        ,vr.[qr2]
        ,vr.[qr3]
        ,vr.[qr4]

        ,vr.[maxFlow]
        ,vr.[minFlow]
        ,vr.[commonFlow]
        ,vr.[convertLimit]
        ,vr.[verifyAgain]
        ,vr.[outerCheck]
        ,vr.[dataSrc]
        FROM (
             SELECT
               #{boxId} AS boxId
             , #{meterId} AS meterId
             , #{batchId} AS batchId
        ) v1
        LEFT JOIN [dbo].[view_pass_meter_verify] vp ON (
            vp.batchId = v1.batchId
            AND vp.meterId = v1.meterId)
        LEFT JOIN [dbo].[vc_meter_verify_result] vr ON (
            vr.batchId = v1.batchId
            AND vr.meterId = v1.meterId
            AND vr.verifyId = vp.verifyId)
    </insert>

    <delete id="clearBox" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam">
        DELETE m
        FROM [dbo].[vc_box_meter_list] m
        JOIN [dbo].[vc_meter_box] mb ON (m.boxId = mb.boxId)
        <where>
            <choose>
                <when test="boxIdList != null and boxIdList.size > 0">
                    mb.boxId IN
                    <foreach collection="boxIdList" item="bid" open="(" separator="," close=")">
                        #{bid}
                    </foreach>
                </when>
                <otherwise>
                    mb.boxId = #{boxId}
                </otherwise>
            </choose>

            <choose>
                <when test="boxStatusList != null and boxStatusList.size > 0">
                    AND mb.[boxStatus] IN
                    <foreach collection="boxStatusList" item="bstat" open="(" close=")" separator=",">
                        #{bstat}
                    </foreach>
                </when>
                <when test="boxStatus != null">
                    AND mb.[boxStatus] = #{boxStatus}
                </when>
                <otherwise>
                    AND mb.[boxStatus] = 'Created'
                </otherwise>
            </choose>
        </where>
    </delete>

    <delete id="removeBox" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam">
        DELETE mb
        FROM [dbo].[vc_meter_box] mb
        <where>
            <choose>
                <when test="boxIdList != null and boxIdList.size > 0">
                    AND mb.boxId IN
                    <foreach collection="boxIdList" item="bid" open="(" separator="," close=")">
                        #{bid}
                    </foreach>
                </when>
                <otherwise>
                    mb.boxId = #{boxId}
                </otherwise>
            </choose>

            <choose>
                <when test="boxStatusList != null and boxStatusList.size > 0">
                    AND mb.[boxStatus] IN
                    <foreach collection="boxStatusList" item="bstat" open="(" close=")" separator=",">
                        #{bstat}
                    </foreach>
                </when>
                <when test="boxStatus != null">
                    AND mb.[boxStatus] = #{boxStatus}
                </when>
                <otherwise>
                    AND mb.[boxStatus] = 'Created'
                </otherwise>
            </choose>
        </where>
    </delete>

    <update id="updateBox" parameterType="com.abel.bigwater.verifymeter.model.VcMeterBox">
        UPDATE [dbo].[vc_meter_box]
        <set>
            <if test="batchId != null">
                [batchId] = #{batchId}
            </if>
            <if test="sizeId != null">
                ,sizeId = #{sizeId}
            </if>
            <if test="factId != null">
                ,factId = #{factId}
            </if>
            <if test="factName != null">
                ,factName = #{factName}
            </if>
            <if test="sizeName != null">
                ,sizeName = #{sizeName}
            </if>
            <if test="meterCount != null">
                ,[meterCount] = #{meterCount}
            </if>
            <if test="meterVerified != null">
                ,[meterVerified] = #{meterVerified}
            </if>

            <if test="meterStrList != null">
                ,[meterStrList] = #{meterStrList}
            </if>

            <if test="newBoxStatus != null">
                ,[boxStatus] = #{newBoxStatus}
            </if>
            <if test="branchId != null">
                ,[branchId] = #{branchId}
            </if>
            <if test="branchName != null">
                ,[branchName] = #{branchName}
            </if>
            <if test="outBy != null">
                ,[outBy] = #{outBy}
            </if>
            <if test="outDate != null">
                ,[outDate] = #{outDate}
            </if>
            <if test="auditor != null">
                ,[auditor] = #{auditor}
            </if>
            <if test="auditDate != null">
                ,[auditDate] = #{auditDate}
            </if>
            ,[updateBy] = #{updateBy}
            ,[updateDate] = GETDATE()
        </set>
        <where>
            boxId = #{boxId}
            <if test="boxStatus != null">
                AND [boxStatus] = #{boxStatus}
            </if>
        </where>
    </update>

    <update id="updateBoxList" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam">
        UPDATE [dbo].[vc_meter_box]
        <set>
            <if test="batchId != null">
                [batchId] = #{batchId}
            </if>
            <if test="sizeId != null">
                ,sizeId = #{sizeId}
            </if>
            <if test="factId != null">
                ,factId = #{factId}
            </if>
            <if test="factName != null">
                ,factName = #{factName}
            </if>
            <if test="sizeName != null">
                ,sizeName = #{sizeName}
            </if>
            <if test="newBoxStatus != null">
                ,[boxStatus] = #{newBoxStatus}
            </if>
            <if test="branchId != null">
                ,[branchId] = #{branchId}
            </if>
            <if test="branchName != null">
                ,[branchName] = #{branchName}
            </if>
            <if test="inAuditor != null">
                ,[inAuditor] = #{inAuditor}
            </if>
            <if test="inAuditDate != null">
                ,[inAuditDate] = #{inAuditDate}
            </if>
            <if test="outBy != null">
                ,[outBy] = #{outBy}
            </if>
            <if test="outDate != null">
                ,[outDate] = #{outDate}
            </if>
            <if test="auditor != null">
                ,[auditor] = #{auditor}
            </if>
            <if test="auditDate != null">
                ,[auditDate] = #{auditDate}
            </if>
            ,[updateBy] = #{updateBy}
            ,[updateDate] = GETDATE()
        </set>
        <where>
            <choose>
                <when test="boxIdList != null and boxIdList.size > 0">
                    boxId IN
                    <foreach collection="boxIdList" item="bid" open="(" separator="," close=")">
                        #{bid}
                    </foreach>
                </when>
                <otherwise>
                    boxId = #{boxId}
                </otherwise>
            </choose>

            <if test="boxStatus != null">
                AND [boxStatus] = #{boxStatus}
            </if>
        </where>
    </update>

    <select id="listBoxSimple" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcMeterBox">
        SELECT DISTINCT b.[boxId]
        ,b.[sizeId]
        ,b.[factId]
        ,b.[factName]
        ,b.[sizeName]
        ,b.[batchId]
        ,b.[meterCount]
        ,b.[meterVerified]

        ,b.[meterStrList]

        ,b.[createBy]
        ,b.[createDate]
        ,b.[boxStatus]
        ,b.[inAuditor]
        ,b.[inAuditDate]
        ,b.[branchId]
        ,b.[branchName]
        ,b.[outBy]
        ,b.[outDate]
        ,b.[auditor]
        ,b.[auditDate]
        ,b.[updateBy]
        ,b.[updateDate]
        FROM [dbo].[vc_meter_box] b
        <where>
            <if test="boxIdList != null">
                AND b.boxId IN
                <foreach collection="boxIdList" item="bid" open="(" separator="," close=")">
                    #{bid}
                </foreach>
            </if>
            <if test="boxIdList == null and boxId != null">
                b.boxId LIKE #{boxId}
            </if>
            <if test="sizeId != null">
                AND b.sizeId = #{sizeId}
            </if>
            <if test="factId != null">
                AND b.factId LIKE #{factId}
            </if>
            <if test="boxStatusList != null">
                AND b.boxStatus IN
                <foreach collection="boxStatusList" item="bs" open="(" separator="," close=")">
                    #{bs}
                </foreach>
            </if>
            <if test="boxStatusList == null and boxStatus != null">
                AND b.boxStatus LIKE #{boxStatus}
            </if>
            <if test="batchId != null">
                AND b.batchId LIKE #{batchId}
            </if>
            <if test="branchId != null">
                AND b.branchId LIKE #{branchId}
            </if>
            <if test="auditor != null">
                AND b.auditor LIKE #{auditor}
            </if>
            <if test="outDate != null">
                AND b.outDate = #{outDate}
            </if>
            <if test="outDateStart != null and outDateEnd != null">
                AND b.outDate BETWEEN #{outDateStart} AND #{outDateEnd}
            </if>
            <if test="outDateStart != null and outDateEnd == null">
                AND b.outDate &gt;= #{outDateStart}
            </if>
            <if test="outDateStart == null and outDateEnd != null">
                AND b.outDate &lt;= #{outDateEnd}
            </if>
            <if test="verifyDate != null">
                AND b.createDate = #{verifyDate}
            </if>
            <if test="verifyDateStart != null and verifyDateEnd != null">
                AND b.createDate BETWEEN #{verifyDateStart} AND #{verifyDateEnd}
            </if>
            <if test="verifyDateStart != null and verifyDateEnd == null">
                AND b.createDate &gt;= #{verifyDateStart}
            </if>
            <if test="verifyDateStart == null and verifyDateEnd != null">
                AND b.createDate &lt;= #{verifyDateEnd}
            </if>
        </where>
    </select>

    <select id="listBox" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcMeterBox">
        SELECT DISTINCT b.[boxId]
        ,b.[sizeId]
        ,b.[factId]
        ,b.[factName]
        ,b.[sizeName]
        ,b.[batchId]
        ,b.[meterCount]
        ,b.[meterVerified]

        ,b.[meterStrList]

        ,b.[createBy]
        ,b.[createDate]
        ,b.[boxStatus]
        ,b.[inAuditor]
        ,b.[inAuditDate]
        ,b.[branchId]
        ,b.[branchName]
        ,b.[outBy]
        ,b.[outDate]
        ,b.[auditor]
        ,b.[auditDate]
        ,b.[updateBy]
        ,b.[updateDate]
        FROM [dbo].[vc_meter_box] b
        JOIN [dbo].[vc_box_meter_list] m ON b.boxId = m.boxId
        <where>
            <choose>
                <when test="boxIdList != null and boxIdList.size > 0">
                    b.boxId IN
                    <foreach collection="boxIdList" item="bid" open="(" separator="," close=")">
                        #{bid}
                    </foreach>
                </when>
                <when test="boxId != null">
                    b.boxId = #{boxId}
                </when>
                <when test="meterIdList != null and meterIdList.size > 0">
                    AND m.meterId IN
                    <foreach collection="meterIdList" item="mid" open="(" separator="," close=")">
                        #{mid}
                    </foreach>
                </when>
                <when test="meterId != null">
                    AND m.meterId LIKE #{meterId}
                </when>
            </choose>

            <if test="sizeId != null">
                AND b.sizeId = #{sizeId}
            </if>
            <if test="factId != null">
                AND b.factId LIKE #{factId}
            </if>

            <choose>
                <when test="boxStatusList != null and boxStatusList.size > 0">
                    AND b.boxStatus IN
                    <foreach collection="boxStatusList" item="bs" open="(" separator="," close=")">
                        #{bs}
                    </foreach>
                </when>
                <otherwise>
                    AND b.boxStatus LIKE #{boxStatus}
                </otherwise>
            </choose>

            <if test="batchId != null">
                AND b.batchId LIKE #{batchId}
            </if>
            <if test="branchId != null">
                AND b.branchId LIKE #{branchId}
            </if>
            <if test="auditor != null">
                AND b.auditor LIKE #{auditor}
            </if>

            <choose>
                <when test="outDate != null">
                    AND b.outDate = #{outDate}
                </when>
                <when test="outDateStart != null and outDateEnd != null">
                    AND b.outDate BETWEEN #{outDateStart} AND #{outDateEnd}
                </when>
                <when test="outDateStart != null and outDateEnd == null">
                    AND b.outDate &gt;= #{outDateStart}
                </when>
                <when test="outDateStart == null and outDateEnd != null">
                    AND b.outDate &lt;= #{outDateEnd}
                </when>
            </choose>

            <choose>
                <when test="verifyDate != null">
                    AND b.createDate = #{verifyDate}
                </when>
                <when test="verifyDateStart != null and verifyDateEnd != null">
                    AND b.createDate BETWEEN #{verifyDateStart} AND #{verifyDateEnd}
                </when>
                <when test="verifyDateStart != null and verifyDateEnd == null">
                    AND b.createDate &gt;= #{verifyDateStart}
                </when>
                <when test="verifyDateStart == null and verifyDateEnd != null">
                    AND b.createDate &lt;= #{verifyDateEnd}
                </when>
            </choose>
        </where>
    </select>

    <select id="listBoxMeter" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcBoxMeter">
        SELECT TOP 5000
        m.[boxId]
        , m.[meterId]
        , m.[batchId]
        , m.[verifyId]
        , m.[tempId]
        , m.[verifyDate]
        , m.[stuffName]
        , m.[verifyResult]
        , m.[boardResult]
        , m.[forceVerifyNo]
        , m.[moduleNo]
        , m.[clientName]
        , m.[factoryName]
        , m.[meterName]
        , m.[meterType]
        , m.[sizeId]
        , m.[modelSize]
        , m.[portType]
        , m.[verifyRule]
        , m.[standardInstrument]
        , m.[standardParam]
        , m.[indoorTemp]
        , m.[moisture]
        , m.[validDate]
        , m.[convertResult]
        , m.[pressResult]
        , m.[instrumentNo]
        , m.[accurateGrade]
        , m.[pipeTemp]
        , m.[pipePressure]
        , m.[pulse]
        , m.[density]
        , m.[displayDiff]
        , m.[convertDiff]
        , m.[q4]
        , m.[q3]
        , m.[q3toq1]
        , m.[q4toq3]
        , m.[q2toq1]

        , m.[qr1]
        , m.[qr2]
        , m.[qr3]
        , m.[qr4]

        , m.[maxFlow]
        , m.[minFlow]
        , m.[commonFlow]
        , m.[convertLimit]
        , m.[verifyAgain]
        , m.[outerCheck]
        , m.[dataSrc]
        , m.[branchId]
        , m.[branchName]
        , m.[outBy]
        , m.[outDate]
        FROM [dbo].[vc_box_meter_list] m
        JOIN [dbo].[vc_meter_box] b ON (m.boxId = b.boxId)
        <where>
            <if test="boxIdList != null">
                AND b.boxId IN
                <foreach collection="boxIdList" item="bid" open="(" separator="," close=")">
                    #{bid}
                </foreach>
            </if>
            <if test="boxIdList == null and boxId != null">
                b.boxId LIKE #{boxId}
            </if>
            <if test="meterIdList != null">
                AND m.meterId IN
                <foreach collection="meterIdList" item="mid" open="(" separator="," close=")">
                    #{mid}
                </foreach>
            </if>
            <if test="meterIdList == null and meterId != null">
                AND m.meterId = #{meterId}
            </if>
            <if test="sizeId != null">
                AND b.sizeId = #{sizeId}
            </if>
            <if test="factId != null">
                AND b.factId LIKE #{factId}
            </if>
            <if test="boxStatusList != null">
                AND b.boxStatus IN
                <foreach collection="boxStatusList" item="bs" open="(" separator="," close=")">
                    #{bs}
                </foreach>
            </if>
            <if test="boxStatusList == null and boxStatus != null">
                AND b.boxStatus LIKE #{boxStatus}
            </if>
            <if test="batchId != null">
                AND b.batchId LIKE #{batchId}
            </if>
            <if test="branchId != null">
                AND b.branchId LIKE #{branchId}
            </if>
            <if test="auditor != null">
                AND b.auditor LIKE #{auditor}
            </if>
            <if test="outDate != null">
                AND b.outDate = #{outDate}
            </if>
            <if test="outDateStart != null and outDateEnd != null">
                AND b.outDate BETWEEN #{outDateStart} AND #{outDateEnd}
            </if>
            <if test="outDateStart != null and outDateEnd == null">
                AND b.outDate &gt;= #{outDateStart}
            </if>
            <if test="outDateStart == null and outDateEnd != null">
                AND b.outDate &lt;= #{outDateEnd}
            </if>
            <if test="verifyDate != null">
                AND b.createDate = #{verifyDate}
            </if>
            <if test="verifyDateStart != null and verifyDateEnd != null">
                AND b.createDate BETWEEN #{verifyDateStart} AND #{verifyDateEnd}
            </if>
            <if test="verifyDateStart != null and verifyDateEnd == null">
                AND b.createDate &gt;= #{verifyDateStart}
            </if>
            <if test="verifyDateStart == null and verifyDateEnd != null">
                AND b.createDate &lt;= #{verifyDateEnd}
            </if>
        </where>
    </select>

    <update id="copyPassMeterVerify" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam">
        UPDATE m
        SET
          m.[verifyId] = v.[verifyId]
        , m.[tempId] = v.[tempId]
        , m.[verifyDate] = v.[verifyDate]
        , m.[stuffName] = v.[stuffName]
        , m.[verifyResult] = v.[verifyResult]
        , m.[boardResult] = v.[boardResult]
        , m.[forceVerifyNo] = v.[forceVerifyNo]
        , m.[moduleNo] = v.[moduleNo]
        , m.[clientName] = v.[clientName]
        , m.[factoryName] = v.[factoryName]
        , m.[meterName] = v.[meterName]
        , m.[meterType] = v.[meterType]
        , m.[sizeId] = v.[sizeId]
        , m.[modelSize] = v.[modelSize]
        , m.[portType] = v.[portType]
        , m.[verifyRule] = v.[verifyRule]
        , m.[standardInstrument] = v.[standardInstrument]
        , m.[standardParam] = v.[standardParam]
        , m.[indoorTemp] = v.[indoorTemp]
        , m.[moisture] = v.[moisture]
        , m.[validDate] = v.[validDate]
        , m.[convertResult] = v.[convertResult]
        , m.[pressResult] = v.[pressResult]
        , m.[instrumentNo] = v.[instrumentNo]
        , m.[accurateGrade] = v.[accurateGrade]
        , m.[pipeTemp] = v.[pipeTemp]
        , m.[pipePressure] = v.[pipePressure]
        , m.[pulse] = v.[pulse]
        , m.[density] = v.[density]
        , m.[displayDiff] = v.[displayDiff]
        , m.[convertDiff] = v.[convertDiff]
        , m.[q4] = v.[q4]
        , m.[q3] = v.[q3]
        , m.[q3toq1] = v.[q3toq1]
        , m.[q4toq3] = v.[q4toq3]
        , m.[q2toq1] = v.[q2toq1]

        , m.[qr1] = v.[qr1]
        , m.[qr2] = v.[qr2]
        , m.[qr3] = v.[qr3]
        , m.[qr4] = v.[qr4]

        , m.[maxFlow] = v.[maxFlow]
        , m.[minFlow] = v.[minFlow]
        , m.[commonFlow] = v.[commonFlow]
        , m.[convertLimit] = v.[convertLimit]
        , m.[verifyAgain] = v.[verifyAgain]
        , m.[outerCheck] = v.[outerCheck]
        , m.[dataSrc] = v.[dataSrc]

        FROM [dbo].[vc_box_meter_list] m
        JOIN [dbo].[vc_meter_box] b ON (m.boxId = b.boxId)
        JOIN [dbo].[vc_meter_verify_result] v ON (
            m.batchId = v.batchId
            AND m.meterId = v.meterId)
        JOIN [dbo].[view_pass_meter_verify] vp ON (
            v.batchId = vp.batchId
            AND v.meterId = vp.meterId
            AND v.verifyId = vp.verifyId)

        <where>
            <choose>
                <when test="boxIdList != null and boxIdList.size > 0">
                    b.boxId IN
                    <foreach collection="boxIdList" item="bid" open="(" separator="," close=")">
                        #{bid}
                    </foreach>
                </when>
                <otherwise>
                    b.boxId LIKE #{boxId}
                </otherwise>
            </choose>

            <choose>
                <when test="meterIdList != null and meterIdList.size > 0">
                    AND m.meterId IN
                    <foreach collection="meterIdList" item="mid" open="(" separator="," close=")">
                        #{mid}
                    </foreach>
                </when>
                <when test="meterId != null">
                    AND m.meterId = #{meterId}
                </when>
            </choose>
        </where>
    </update>

    <insert id="copyMeterHist" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam">
        INSERT INTO [dbo].[vc_hist_box_meter_list]
        ([meterId]
        ,[boxId]
        ,[factoryName]
        ,[sizeId]
        ,[modelSize]
        ,[batchId]
        ,[verifyId]
        ,[tempId]
        ,[verifyDate]
        ,[stuffName]
        ,[verifyResult]
        ,[boardResult]
        ,[forceVerifyNo]
        ,[moduleNo]
        ,[clientName]
        ,[meterName]
        ,[meterType]
        ,[portType]
        ,[verifyRule]
        ,[standardInstrument]
        ,[standardParam]
        ,[indoorTemp]
        ,[moisture]
        ,[validDate]
        ,[convertResult]
        ,[pressResult]
        ,[instrumentNo]
        ,[accurateGrade]
        ,[pipeTemp]
        ,[pipePressure]
        ,[pulse]
        ,[density]
        ,[displayDiff]
        ,[convertDiff]
        ,[q4]
        ,[q3]
        ,[q3toq1]
        ,[q4toq3]
        ,[q2toq1]

        ,[qr1]
        ,[qr2]
        ,[qr3]
        ,[qr4]

        ,[maxFlow]
        ,[minFlow]
        ,[commonFlow]
        ,[convertLimit]
        ,[verifyAgain]
        ,[outerCheck]
        ,[dataSrc]
        ,[branchId]
        ,[branchName]
        ,[outBy]
        ,[outDate])

        SELECT
         m.[meterId]
        ,m.[boxId]
        ,m.[factoryName]
        ,m.[sizeId]
        ,m.[modelSize]
        ,m.[batchId]
        ,m.[verifyId]
        ,m.[tempId]
        ,m.[verifyDate]
        ,m.[stuffName]
        ,m.[verifyResult]
        ,m.[boardResult]
        ,m.[forceVerifyNo]
        ,m.[moduleNo]
        ,m.[clientName]
        ,m.[meterName]
        ,m.[meterType]
        ,m.[portType]
        ,m.[verifyRule]
        ,m.[standardInstrument]
        ,m.[standardParam]
        ,m.[indoorTemp]
        ,m.[moisture]
        ,m.[validDate]
        ,m.[convertResult]
        ,m.[pressResult]
        ,m.[instrumentNo]
        ,m.[accurateGrade]
        ,m.[pipeTemp]
        ,m.[pipePressure]
        ,m.[pulse]
        ,m.[density]
        ,m.[displayDiff]
        ,m.[convertDiff]
        ,m.[q4]
        ,m.[q3]
        ,m.[q3toq1]
        ,m.[q4toq3]
        ,m.[q2toq1]

        ,m.[qr1]
        ,m.[qr2]
        ,m.[qr3]
        ,m.[qr4]

        ,m.[maxFlow]
        ,m.[minFlow]
        ,m.[commonFlow]
        ,m.[convertLimit]
        ,m.[verifyAgain]
        ,m.[outerCheck]
        ,m.[dataSrc]
        ,m.[branchId]
        ,m.[branchName]
        ,m.[outBy]
        ,m.[outDate]
        FROM [dbo].[vc_box_meter_list] m
        JOIN [dbo].[vc_meter_box] b ON (m.boxId = b.boxId)
        <where>
            <if test="meterIdList != null">
                m.meterId IN
                <foreach collection="meterIdList" item="mid" open="(" separator="," close=")">
                    #{mid}
                </foreach>
            </if>
            <if test="boxId != null">
                AND m.boxId = #{boxId}
            </if>
            <if test="boxIdList != null">
                AND m.boxId IN
                <foreach collection="boxIdList" item="boxId" open="(" close=")" separator=",">
                    #{boxId}
                </foreach>
            </if>
        </where>
    </insert>

    <insert id="copyStat" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam">
        INSERT INTO [dbo].[vc_ware_stat]
        ([statType]
        ,[sizeId]
        ,[factId]
        ,[batchId]
        ,[startDate]
        ,[endDate]

        ,[totalMeter]
        ,[totalMeterIn]
        ,[totalMeterOut]
        ,[todayMeterIn]
        ,[todayMeterOut]

        ,[totalBox]
        ,[totalBoxIn]
        ,[totalBoxOut]
        ,[todayBoxIn]
        ,[todayBoxOut]

        ,[factName]
        ,[sizeName]

        ,[createBy]
        ,[createDate]
        ,[updateBy]
        ,[updateDate])

        SELECT 'Day' AS statType
        , vt1.sizeId AS sizeId
        , vt1.factId AS factId
        , vt1.batchId AS batchId
        , #{startDate} AS startDate
        , #{endDate} AS endDate

        , ISNULL(b.batch_count, vt1.totalMeterIn) AS totalMeter
        , vt1.totalMeterIn
        , vt2.totalMeterOut
        , d1.todayMeterIn
        , d2.todayMeterOut

        , vt1.totalBoxIn AS totalBox
        , vt1.totalBoxIn
        , vt2.totalBoxOut
        , d1.todayBoxIn
        , d2.todayBoxOut

        , ISNULL(fact.fact_name, vt1.factId) factName
        , ISNULL(sz.sizeName, vt1.sizeId) sizeName

        , #{createBy} AS createBy
        , GETDATE() AS createDate
        , #{updateBy} AS updateBy
        , GETDATE() AS updateDate
        FROM (
        -- 累计入库
        SELECT sizeId
        , factId
        , batchId
        , COUNT(1) AS totalBoxIn
        , SUM(meterCount) AS totalMeterIn
        FROM [dbo].[vc_meter_box]
        WHERE createDate &lt; #{endDate}
        GROUP BY sizeId, factId, batchId
        ) vt1
        LEFT JOIN (
        -- 累计出库
        SELECT sizeId
        , factId
        , batchId
        , COUNT(1) AS totalBoxOut
        , SUM(meterCount) AS totalMeterOut
        FROM [dbo].[vc_meter_box]
        WHERE boxStatus = 'Audited'
        AND updateDate &lt; #{endDate}
        GROUP BY sizeId, factId, batchId
        ) vt2 ON (vt1.sizeId = vt2.sizeId AND vt1.factId = vt2.factId AND vt1.batchId = vt2.batchId)
        LEFT JOIN (
        -- 今日入库
        SELECT sizeId
        , factId
        , batchId
        , COUNT(1) AS todayBoxIn
        , SUM(meterCount) AS todayMeterIn
        FROM [dbo].[vc_meter_box]
        WHERE createDate BETWEEN #{startDate} AND #{endDate}
        GROUP BY sizeId, factId, batchId
        ) d1 ON (vt1.sizeId = d1.sizeId AND vt1.factId = d1.factId AND vt1.batchId = d1.batchId)
        LEFT JOIN (
        -- 今日出库
        SELECT sizeId
        , factId
        , batchId
        , COUNT(1) AS todayBoxOut
        , SUM(meterCount) AS todayMeterOut
        FROM [dbo].[vc_meter_box]
        WHERE boxStatus = 'Audited'
        AND outDate BETWEEN #{startDate} AND #{endDate}
        GROUP BY sizeId, factId, batchId
        ) d2 ON (vt1.sizeId = d2.sizeId AND vt1.factId = d2.factId AND vt1.batchId = d2.batchId)
        LEFT JOIN [dbo].[vc_meter_batch] b ON (vt1.batchId = b.batch_id)
        LEFT JOIN [dbo].[vc_meter_factory] fact ON vt1.factId = fact.fact_id
        LEFT JOIN (
        SELECT value_id sizeId,
        value_name sizeName
        FROM [dbo].[vc_code_value]
        WHERE code_id = 'SIZE') sz ON vt1.sizeId = sz.sizeId
    </insert>

    <delete id="removeStat" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam">
        DELETE b FROM [dbo].[vc_ware_stat] b
        <where>
            <if test="sizeId != null">
                AND b.sizeId = #{sizeId}
            </if>
            <if test="factId != null">
                AND b.factId LIKE #{factId}
            </if>
            <if test="statDate != null">
                AND b.startDate = #{statDate}
            </if>
            <if test="startDate != null and endDate != null">
                AND b.startDate BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND b.startDate &gt;= #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND b.startDate &lt;= #{endDate}
            </if>
        </where>
    </delete>

    <select id="listStat" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcWareStat">
        SELECT [statType]
        ,[sizeId]
        ,[factId]
        ,[batchId]
        <!--
        ,modelSize
        ,branchId
        ,branchName
        -->

        ,[startDate]
        ,[endDate]
        ,[totalMeter]
        ,[totalMeterIn]
        ,[totalMeterOut]
        ,[todayMeterIn]
        ,[todayMeterOut]
        ,[totalBox]
        ,[totalBoxIn]
        ,[totalBoxOut]
        ,[todayBoxIn]
        ,[todayBoxOut]
        ,[factName]
        ,[sizeName]
        ,[createBy]
        ,[createDate]
        ,[updateBy]
        ,[updateDate]
        FROM [dbo].[vc_ware_stat] b
        <where>
            <if test="sizeId != null">
                AND b.sizeId = #{sizeId}
            </if>
            <if test="factId != null">
                AND b.factId LIKE #{factId}
            </if>
            <if test="batchId != null">
                AND b.batchId LIKE #{batchId}
            </if>
            <if test="statDate != null">
                AND b.startDate = #{statDate}
            </if>
            <if test="startDate != null and endDate != null">
                AND b.startDate BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND b.startDate &gt;= #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND b.startDate &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="listStatv2" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcWareStatv2">
        SELECT wid
        ,[statType]
        ,[batchId]
        ,[factId]
        ,[factName]

        ,[sizeId]
        ,[sizeName]
        ,[modelSize]

        ,[startDate]
        ,[endDate]

        ,[totalMeter]
        ,[boxingMeterCount]
        ,[boxingBoxCount]
        ,[wareMeterCount]
        ,[wareBoxCount]
        ,[applyMeterCount]
        ,[applyBoxCount]
        ,[outMeterCount]
        ,[outBoxCount]

        ,[createBy]
        ,[createDate]
        ,[updateBy]
        ,[updateDate]
        FROM [dbo].[vc_ware_statv2] b
        <where>
            <if test="factId != null">
                AND b.factId LIKE #{factId}
            </if>
            <if test="batchId != null">
                AND b.batchId LIKE #{batchId}
            </if>
            <choose>
                <when test="startDate != null and endDate != null">
                    AND b.startDate BETWEEN #{startDate} AND #{endDate}
                </when>
                <when test="statDate != null">
                    AND b.startDate = #{statDate}
                </when>
                <when test="startDate != null">
                    AND b.startDate &gt;= #{startDate}
                </when>
                <when test="endDate != null">
                    AND b.startDate &lt;= #{endDate}
                </when>
            </choose>
        </where>
    </select>

    <select id="listBranchStat" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcWareBranchStat">
        SELECT
         [statType]
        ,[startDate]
        ,[endDate]

        ,[branchId]
        ,[branchName]
        ,[modelSize]
        ,[factId]
        ,[factName]
        ,[sizeId]
        ,[sizeName]

        ,[outMeterCount]
        ,[outBoxCount]

        ,[createBy]
        ,[createDate]
        ,[updateBy]
        ,[updateDate]
        FROM [dbo].[vc_ware_branch_stat] b
        <where>
            <if test="branchId != null">
                AND b.branchId LIKE #{branchId}
            </if>
            <if test="modelSize != null">
                AND b.modelSize LIKE #{modelSize}
            </if>
            <if test="factId != null">
                AND b.factId LIKE #{factId}
            </if>
            <if test="sizeId != null">
                AND b.sizeId LIKE #{sizeId}
            </if>

            <choose>
                <when test="startDate != null and endDate != null">
                    AND b.startDate BETWEEN #{startDate} AND #{endDate}
                </when>
                <when test="statDate != null">
                    AND b.startDate = #{statDate}
                </when>
                <when test="startDate != null">
                    AND b.startDate &gt;= #{startDate}
                </when>
                <when test="endDate != null">
                    AND b.startDate &lt;= #{endDate}
                </when>
            </choose>
        </where>
    </select>

    <select id="listStore" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcWareStat">
        SELECT [statType]
        ,[sizeId]
        ,[sizeName]
        ,SUM([totalMeterIn]) totalMeterIn
        ,SUM([totalMeterOut]) totalMeterOut
        ,SUM([totalBoxIn]) totalBoxIn
        ,SUM([totalBoxOut]) totalBoxOut
        ,wmax.maxStartDate startDate
        ,wmax.maxEndDate endDate
        FROM [dbo].[vc_ware_stat] b
        JOIN (
            SELECT MAX(startDate) maxStartDate,
                   MAX(endDate) maxEndDate
            FROM [dbo].[vc_ware_stat]
        ) wmax ON b.startDate = wmax.maxStartDate
        GROUP BY [statType]
               ,[sizeId]
               ,[sizeName]
               ,wmax.maxStartDate
               ,wmax.maxEndDate
    </select>

    <select id="listInout" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcWareStat">
        SELECT [statType]
             ,[startDate]
             ,[endDate]
             ,SUM([totalMeterIn]) totalMeterIn
             ,SUM([totalMeterOut]) totalMeterOut
             ,SUM([totalBoxIn]) totalBoxIn
             ,SUM([totalBoxOut]) totalBoxOut
        FROM [dbo].[vc_ware_stat] b
        <where>
            <if test="statDate != null">
                AND b.startDate = #{statDate}
            </if>
            <if test="startDate != null and endDate != null">
                AND b.startDate BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND b.startDate &gt;= #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND b.startDate &lt;= #{endDate}
            </if>
        </where>
        GROUP BY [statType]
        ,[startDate]
        ,[endDate]
    </select>

    <select id="listSizeInout" parameterType="com.abel.bigwater.verifymeter.webapi.WareParam"
            resultType="com.abel.bigwater.verifymeter.model.VcWareStat">
        SELECT [statType]
        ,[sizeId]
        ,[sizeName]
        ,[startDate]
        ,[endDate]
        ,SUM([totalMeterIn]) totalMeterIn
        ,SUM([totalMeterOut]) totalMeterOut
        ,SUM([totalBoxIn]) totalBoxIn
        ,SUM([totalBoxOut]) totalBoxOut
        FROM [dbo].[vc_ware_stat] b
        <where>
            <if test="statDate != null">
                AND b.startDate = #{statDate}
            </if>
            <if test="startDate != null and endDate != null">
                AND b.startDate BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND b.startDate &gt;= #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND b.startDate &lt;= #{endDate}
            </if>
        </where>
        GROUP BY [statType]
        ,[sizeId]
        ,[sizeName]
        ,[startDate]
        ,[endDate]
    </select>

    <update id="syncBatchVerify" statementType="CALLABLE">
        <![CDATA[
        {
            CALL [dbo].[syncBatch]
            }
        ]]>
    </update>

    <update id="statWareWeek" statementType="CALLABLE">
        <![CDATA[
        {
            CALL [dbo].[statWareWeek]
        }
        ]]>
    </update>

    <update id="statWareMonth" statementType="CALLABLE">
        <![CDATA[
        {
            CALL [dbo].[statWareMonth]
            }
        ]]>
    </update>
</mapper>