<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，即sql隔离
注意：使用mapper代理方法开发的话，namespace就有特殊重要的作用了,namespace=mapper接口地址
 -->
<mapper namespace="com.abel.bigwater.verifymeter.mapper.StudyMapper">
    <insert id="createStudy" parameterType="com.abel.bigwater.verifymeter.model.VcStudy"
            keyColumn="studyId" keyProperty="studyId" useGeneratedKeys="true">
        INSERT INTO [dbo].[vc_study]
        ( [studyName]
        , [stuffName]
        , [stuffId]
        , [sizeId]
        , [sizeName]
        , [factId]
        , [factName]
        , [startDate]
        , [endDate]
        , [verifyCount]
        , [passCount]
        , [failCount]
        , [pointCount]
        , [measureCoef]
        , [studyResult]
        , [studySummary])
        VALUES ( #{studyName}
               , #{stuffName}
               , #{stuffId}
               , #{sizeId}
               , #{sizeName}
               , #{factId}
               , #{factName}
               , #{startDate}
               , #{endDate}
               , #{verifyCount}
               , #{passCount}
               , #{failCount}
               , #{pointCount}
               , #{measureCoef}
               , #{studyResult}
               , #{studySummary})
    </insert>

    <update id="updateStudy" parameterType="com.abel.bigwater.verifymeter.model.VcStudy">
        UPDATE [dbo].[vc_study]
        SET [studyName]    =#{studyName}
          , [stuffName]    =#{stuffName}
          , [stuffId]      =#{stuffId}
          , [sizeId]       =#{sizeId}
          , [sizeName]     =#{sizeName}
          , [factId]       =#{factId}
          , [factName]     =#{factName}
          , [startDate]    =#{startDate}
          , [endDate]      =#{endDate}
          , [verifyCount]  =#{verifyCount}
          , [passCount]    =#{passCount}
          , [failCount]    =#{failCount}
          , [pointCount]   =#{pointCount}
          , [measureCoef]  =#{measureCoef}
          , [studyResult]  =#{studyResult}
          , [studySummary] =#{studySummary}
        WHERE [studyId] = #{studyId}
    </update>

    <delete id="deleteStudy" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam">
        DELETE
        FROM [dbo].[vc_study]
        WHERE [studyId] = #{studyId}
    </delete>


    <select id="listStudy" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam"
            resultType="com.abel.bigwater.verifymeter.model.VcStudy">
        SELECT [studyId]
        ,[studyName]
        ,[stuffName]
        ,[stuffId]
        ,[sizeId]
        ,[sizeName]
        ,[factId]
        ,[factName]
        ,[startDate]
        ,[endDate]
        ,[verifyCount]
        ,[passCount]
        ,[failCount]
        ,[pointCount]
        ,[measureCoef]
        ,[studyResult]
        ,[studySummary]
        FROM [dbo].[vc_study]
        <where>
            <if test="studyId != null">
                [studyId] = #{studyId}
            </if>
            <if test="studyName != null">
                AND studyName LIKE #{studyName}
            </if>
            <if test="stuffId != null">
                AND stuffId LIKE #{stuffId}
            </if>
            <if test="sizeId != null">
                AND sizeId LIKE #{sizeId}
            </if>
            <if test="factId != null">
                AND factId LIKE #{factId}
            </if>
            <if test="startDate != null and endDate != null">
                AND startDate BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND startDate &gt;= #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND startDate &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="fetchStudy" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam"
            resultType="com.abel.bigwater.verifymeter.model.VcStudy">
        SELECT [studyId]
             , [studyName]
             , [stuffName]
             , [stuffId]
             , [sizeId]
             , [sizeName]
             , [factId]
             , [factName]
             , [startDate]
             , [endDate]
             , [verifyCount]
             , [passCount]
             , [failCount]
             , [pointCount]
             , [measureCoef]
             , [studyResult]
             , [studySummary]
        FROM [dbo].[vc_study]
        WHERE [studyId] = #{studyId}
    </select>

    <insert id="createStudyMeter">
        INSERT INTO [dbo].[vc_study_meter]
        ( [studyId]
        , [meterId])
        VALUES ( #{studyId}
               , #{meterId})
    </insert>

    <delete id="deleteStudyMeter" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam">
        DELETE FROM [dbo].[vc_study_meter]
        <where>
            <if test="studyId">
                studyId = #{studyId}
            </if>
            <if test="meterId != null">
                AND meterId LIKE #{meterId}
            </if>
            <if test="meterIdList != null">
                AND meterId IN
                <foreach collection="meterIdList" item="mid" separator="," open="(" close=")">
                    #{mid}
                </foreach>
            </if>
        </where>
    </delete>

    <select id="listStudyMeter" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam"
            resultType="com.abel.bigwater.verifymeter.model.VcMeter">
        SELECT [studyId]
        ,[meterId]
        FROM [dbo].[vc_study_meter]
        <where>
            <if test="studyId">
                studyId = #{studyId}
            </if>
            <if test="meterId != null">
                AND meterId LIKE #{meterId}
            </if>
        </where>
    </select>

    <delete id="deleteStudyMeterVerify" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam">
        DELETE FROM [dbo].[vc_study_meter]
        <where>
            <if test="studyId">
                studyId = #{studyId}
            </if>
            <if test="meterId != null">
                AND meterId LIKE #{meterId}
            </if>
            <if test="meterIdList != null">
                AND meterId IN
                <foreach collection="meterIdList" item="mid" separator="," open="(" close=")">
                    #{mid}
                </foreach>
            </if>
        </where>
    </delete>

    <select id="listStudyMeterVerify" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam"
            resultType="com.abel.bigwater.verifymeter.model.VcMeterVerify">
        SELECT [studyId]
        ,[meterId]
        ,[tempId]
        ,[verifyDate]
        ,[stuff]
        ,[verifyResult]
        ,[boardResult]
        ,[forceVerifyNo]
        ,[moduleNo]
        ,[clientName]
        ,[factoryName]
        ,[meterName]
        ,[meterType]
        ,[modelSize]
        ,[portType]
        ,[verifyRule]
        ,[standardInstrument]
        ,[standardParam]
        ,[indoorTemp]
        ,[moisture]
        ,[validDate]
        ,[convertResult]
        ,[pressResult]
        ,[instrumentNo]
        ,[accurateGrade]
        ,[pipeTemp]
        ,[pipePressure]
        ,[pulse]
        ,[density]
        ,[displayDiff]
        ,[convertDiff]
        ,[q4]
        ,[q3]
        ,[q3toq1]
        ,[q4toq3]
        ,[q2toq1]
        ,[maxFlow]
        ,[minFlow]
        ,[commonFlow]
        ,[convertLimit]
        ,[verifyAgain]
        ,[outerCheck]
        ,[dataSrc]
        ,[itemId]
        FROM [dbo].[vc_study_meter]
        <where>
            <if test="studyId">
                studyId = #{studyId}
            </if>
            <if test="meterId != null">
                AND meterId LIKE #{meterId}
            </if>
        </where>
    </select>

    <delete id="deleteStudyMeterPoint" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam">
        DELETE FROM [dbo].[vc_study_verify_point]
        <where>
            <if test="studyId">
                studyId = #{studyId}
            </if>
            <if test="meterId != null">
                AND meterId LIKE #{meterId}
            </if>
        </where>
    </delete>

    <select id="listStudyMeterPoint" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam"
            resultType="com.abel.bigwater.verifymeter.model.VcMeterVerifyPoint">
        SELECT vp.[pointId]
        ,vp.[pointIdx]
        ,vp.[tempId]
        ,vp.[pointFlow]
        ,vp.[pointDev]
        ,vp.[highLimit]
        ,vp.[lowLimit]
        ,vp.[exceed]
        ,vp.[meterId]
        ,vp.[verifyDate]
        ,vp.[stuff]
        ,vp.[boardResult]
        ,vp.[pointName]
        ,vp.[startReading]
        ,vp.[endReading]
        ,vp.[totalVolume]
        ,vp.[verifyDura]
        ,vp.[avgFlow]
        ,vp.[waterTemp]
        ,vp.[startMass]
        ,vp.[endMass]
        ,vp.[standardMass]
        ,vp.[density]
        ,vp.[standardVolume]
        ,vp.[standardDura]
        ,vp.[standardFlow]
        ,vp.[instrumentNo]
        ,vp.[batchId]
        ,vp.[boardMemo]
        ,vp.[itemId]
        FROM [dbo].[vc_study_verify_point] vp
        JOIN [dbo].[vc_study_meter] vm ON vp.meterId = vm.meterId
        JOIN [dbo].[vc_study] vs ON vm.studyId = vs.studyId
        <where>
            <if test="studyId">
                vs.studyId = #{studyId}
            </if>
            <if test="meterId != null">
                AND vp.meterId LIKE #{meterId}
            </if>
        </where>
    </select>

    <select id="listStudyModel" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam"
            resultType="com.abel.bigwater.verifymeter.model.VcStudyModel">
        SELECT [modelId]
        ,[studyId]
        ,[modelName]
        ,[sizeId]
        ,[sizeName]
        ,[factId]
        ,[factName]
        ,[verifyCount]
        ,[passCount]
        ,[failCount]
        ,[pointCount]
        ,[measureCoef]
        ,[studyResult]
        ,[studySummary]
        FROM [dbo].[vc_study_model]
        <where>
            <if test="modelId != null">
                modelId = #{modelId}
            </if>
            <if test="studyId">
                AND studyId = #{studyId}
            </if>
        </where>
    </select>

    <select id="fetchStudyModel" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam"
            resultType="com.abel.bigwater.verifymeter.model.VcStudyModel">
        SELECT [modelId]
             , [studyId]
             , [modelName]
             , [sizeId]
             , [sizeName]
             , [factId]
             , [factName]
             , [verifyCount]
             , [passCount]
             , [failCount]
             , [pointCount]
             , [measureCoef]
             , [studyResult]
             , [studySummary]
        FROM [dbo].[vc_study_model]
        WHERE modelId = #{modelId}
    </select>

    <insert id="createStudyModel" parameterType="com.abel.bigwater.verifymeter.model.VcStudyModel"
            keyProperty="modelId" keyColumn="modelId" useGeneratedKeys="true">
        INSERT INTO [dbo].[vc_study_model]
        ( [studyId]
        , [modelName]
        , [sizeId]
        , [sizeName]
        , [factId]
        , [factName]
        , [verifyCount]
        , [passCount]
        , [failCount]
        , [pointCount]
        , [measureCoef]
        , [studyResult]
        , [studySummary])
        VALUES ( #{studyId}
               , #{modelName}
               , #{sizeId}
               , #{sizeName}
               , #{factId}
               , #{factName}
               , #{verifyCount}
               , #{passCount}
               , #{failCount}
               , #{pointCount}
               , #{measureCoef}
               , #{studyResult}
               , #{studySummary})
    </insert>

    <delete id="deleteStudyModel" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam">
        DELETE
        FROM [dbo].[vc_study_model]
        WHERE modelId = #{modelId}
    </delete>

    <update id="updateStudyModel" parameterType="com.abel.bigwater.verifymeter.model.VcStudyModel">
        UPDATE [dbo].[vc_study_model]
        SET [studyId]      = #{studyId}
          , [modelName]    = #{modelName}
          , [sizeId]       = #{sizeId}
          , [sizeName]     = #{sizeName}
          , [factId]       = #{factId}
          , [factName]     = #{factName}
          , [verifyCount]  = #{verifyCount}
          , [passCount]    = #{passCount}
          , [failCount]    = #{failCount}
          , [pointCount]   = #{pointCount}
          , [measureCoef]  = #{measureCoef}
          , [studyResult]  = #{studyResult}
          , [studySummary] = #{studySummary}
        WHERE modelId = #{modelId}
    </update>

    <insert id="createStudyModelFlow" parameterType="com.abel.bigwater.verifymeter.model.VcStudyModelFlow">
        INSERT INTO [dbo].[vc_study_model_flow]
        ( [modelId]
        , [pointIdx]
        , [flowMin]
        , [flowMax]
        , [pointWater])
        VALUES ( #{modelId}
               , #{pointIdx}
               , #{flowMin}
               , #{flowMax}
               , #{pointWater})
    </insert>

    <select id="listStudyModelFlow" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam"
            resultType="com.abel.bigwater.verifymeter.model.VcStudyModelFlow">
        SELECT [modelId]
        ,[pointIdx]
        ,[flowMin]
        ,[flowMax]
        ,[pointWater]
        FROM [dbo].[vc_study_model_flow]
        <where>
            <if test="modelId != null">
                modelId = #{modelId}
            </if>
            <if test="pointIdx != null">
                AND pointIdx = #{pointIdx}
            </if>
        </where>
    </select>

    <delete id="deleteStudyModelFlow" parameterType="com.abel.bigwater.verifymeter.webapi.StudyParam">
        DELETE FROM [dbo].[vc_study_model_flow]
        <where>
            <if test="modelId != null">
                modelId = #{modelId}
            </if>
            <if test="pointIdx != null">
                AND pointIdx = #{pointIdx}
            </if>
        </where>
    </delete>
</mapper>