<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，即sql隔离
注意：使用mapper代理方法开发的话，namespace就有特殊重要的作用了,namespace=mapper接口地址
 -->
<mapper namespace="com.abel.bigwater.mapper.ConfigMapper">
    <select id="configList" resultType="com.abel.bigwater.model.BwConfig">
        SELECT groupId
        , configId
        , value
        , configName
        , configType
        , configDesc
        , c.firmId
        , f.firmName
        , c.createBy
        , c.createDate
        , c.updateBy
        , c.updateDate
        FROM bw_config c LEFT JOIN bw_firm f ON c.firmid = f.firmid
        <where>
            <if test="configId != null">
                c.configId = #{configId}
            </if>
            <if test="firmId != null">
                AND c.firmId LIKE #{firmId}
            </if>
            <if test="groupId != null">
                AND groupId = #{groupId}
            </if>
        </where>
    </select>

    <update id="updateConfig" parameterType="com.abel.bigwater.model.BwConfig">
        UPDATE bw_config
        <set>
            value = #{value}
            <if test="configName != null">
                , configName = #{configName}
            </if>
            <if test="configType != null">
                , configType = #{configType}
            </if>
            <if test="configDesc != null">
                , configDesc = #{configDesc}
            </if>
            , updateBy = #{updateBy}
            , updateDate = current_timestamp
        </set>
        <where>
            configId = #{configId}
            <if test="firmId != null">
                AND firmId LIKE #{firmId}
            </if>
            <if test="groupId != null">
                AND groupId = #{groupId}
            </if>
        </where>
    </update>

    <delete id="deleteConfig" parameterType="com.abel.bigwater.model.BwConfig">
        DELETE
        FROM bw_config
        WHERE configId = #{configId}
          AND firmId = #{firmId}
    </delete>

    <insert id="insertConfig" parameterType="com.abel.bigwater.model.BwConfig">
        INSERT INTO bw_config(configId, groupId, configName,
                              configType, configDesc, value, firmId
            , createBy, createDate)
        VALUES (#{configId}, #{groupId}, #{configName},
                #{configType}, #{configDesc}, #{value}, #{firmId}
                   , #{createBy}, current_timestamp)
    </insert>

    <select id="selectFirm" resultType="com.abel.bigwater.model.BwFirm">
        SELECT f.firmId
        ,f.firmName
        ,f.firmLoc
        ,f.firmRegion
        ,f.grade
        ,f.smallIcon
        ,f.largeIcon
        ,f.addr
        ,f.postcode
        ,f.contact
        ,f.phone
        ,f.phone2
        ,f.fax
        ,f.email
        ,f.memo
        ,f.preinit
        , COUNT(m.meterId) meterCount
        FROM bw_firm f
        LEFT JOIN bw_meter m ON f.firmId = m.firmId
        <where>
            f.firmId LIKE #{firmId}
        </where>
        GROUP BY f.firmId
    </select>

    <insert id="addFirm" parameterType="com.abel.bigwater.model.BwFirm">
        INSERT INTO bw_firm(firmId, firmName
        <include refid="firmFields"></include>
        ,grade
        ,smallIcon
        ,largeIcon
        ,addr
        ,postcode
        ,contact
        ,phone
        ,phone2
        ,fax
        ,email
        ,preinit)
        VALUES(#{firmId}, #{firmName}
        <include refid="firmValues"></include>
        , #{grade}
        , #{smallIcon}
        , #{largeIcon}
        , #{addr}
        , #{postcode}
        , #{contact}
        , #{phone}
        , #{phone2}
        , #{fax}
        , #{email}
        , false)
    </insert>

    <sql id="firmFields">
        <trim suffixOverrides=",">
            <if test="firmLoc != null">
                , firmLoc
            </if>
            <if test="firmRegion != null">
                , firmRegion
            </if>
            <if test="memo != null">
                , memo
            </if>
        </trim>
    </sql>

    <sql id="firmValues">
        <trim suffixOverrides=",">
            <if test="firmLoc != null">
                , st_geomFromText(#{firmLoc})::point
            </if>
            <if test="firmRegion != null">
                , st_geomFromText(#{firmRegion})::polygon
            </if>
            <if test="memo != null">
                , #{memo}
            </if>
        </trim>

    </sql>

    <delete id="deleteFirm">
        DELETE
        FROM bw_firm
        WHERE firmId = #{firmId}
          AND preinit = false
    </delete>

    <update id="updateFirm" parameterType="com.abel.bigwater.model.BwFirm">
        UPDATE bw_firm
        <set>
            <if test='firmName != null'>
                firmName = #{firmName}
            </if>
            <if test='firmLoc != null'>
                , firmLoc = st_geomFromText(#{firmLoc})::point
            </if>
            <if test='firmRegion != null'>
                , firmRegion = st_geomFromText(#{firmRegion})::polygon
            </if>
            <if test='grade != null'>
                ,grade = #{grade}
            </if>
            <if test='smallIcon != null'>
                ,smallIcon = #{smallIcon}
            </if>
            <if test='largeIcon != null'>
                ,largeIcon = #{largeIcon}
            </if>
            <if test='addr != null'>
                ,addr = #{addr}
            </if>
            <if test="postcode != null">
                ,postcode = #{postcode}
            </if>
            <if test='contact != null'>
                ,contact = #{contact}
            </if>
            <if test='phone != null'>
                ,phone = #{phone}
            </if>
            <if test='phone2 != null'>
                ,phone2 = #{phone2}
            </if>
            <if test='fax != null'>
                ,fax = #{fax}
            </if>
            <if test='email != null'>
                ,email = #{email}
            </if>
            <if test='memo != null'>
                ,memo = #{memo}
            </if>
        </set>
        WHERE firmId = #{firmId}
    </update>
</mapper>