<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，即sql隔离
注意：使用mapper代理方法开发的话，namespace就有特殊重要的作用了,namespace=mapper接口地址
 -->
<mapper namespace="com.abel.bigwater.mapper.UserMapper">

    <select id="listUser" resultType="com.abel.bigwater.model.BwUser">
        SELECT DISTINCT
        u.userId
        , u.userName
        , u.mobile
        , u.email
        , u.passHash
        , u.status
        , u.firmId
        , f.firmName
        , emailValid
        , emailToken
        , userToken
        , u.smallIcon
        , u.bigIcon
        , u.signPic
        , u.createBy
        , u.createDate
        , u.updateBy
        , u.updateDate
        , u.verifyStuff
        , ul.lastLoginTime
        FROM bw_user u LEFT JOIN (
        SELECT userId, MAX(loginTime) AS lastLoginTime
        FROM bw_user_login
        GROUP BY userId) ul ON u.userId = ul.userId

        LEFT JOIN bw_firm f ON u.firmId = f.firmId

        <where>
            u.firmId LIKE #{firmId}
            <if test='idStr != null'>
                AND u.userId LIKE #{idStr}
            </if>
            <if test='nameStr != null'>
                AND u.userName LIKE #{nameStr}
            </if>
        </where>
    </select>

    <select id="listUserByRole" resultType="com.abel.bigwater.model.BwUser">
        SELECT u.userId
             , u.userName
             , u.mobile
             , u.email
             , u.passHash
             , u.status
             , u.firmId
             , f.firmName
             , u.emailValid
             , u.emailToken
             , u.userToken
             , u.smallIcon
             , u.bigIcon
             , u.signPic
             , u.createBy
             , u.createDate
             , u.updateBy
             , u.updateDate
             , u.verifyStuff
             , ul.lastLoginTime
        FROM bw_user u
                 LEFT JOIN (
            SELECT userId,
                   MAX(loginTime) AS lastLoginTime
            FROM bw_user_login
            GROUP BY userId) ul ON u.userId = ul.userId
                 JOIN bw_user_role ur ON u.userId = ur.userId
                 LEFT JOIN bw_firm f ON u.firmId = f.firmId
        WHERE ur.roleName = #{roleName}
    </select>

    <select id="selectUser" resultType="com.abel.bigwater.model.BwUser">
        SELECT u.userId
             , u.userName
             , u.mobile
             , u.email
             , u.status
             , u.passHash
             , u.firmId
             , f.firmName
             , emailValid
             , emailToken
             , userToken
             , u.smallIcon
             , u.bigIcon
             , u.signPic
             , u.createBy
             , u.createDate
             , u.updateBy
             , u.updateDate
             , u.verifyStuff
             , ul.lastLoginTime
        FROM bw_user u
                 LEFT JOIN (
            SELECT userId, MAX(loginTime) AS lastLoginTime
            FROM bw_user_login
            GROUP BY userId
        ) ul ON u.userId = ul.userId
                 LEFT JOIN bw_firm f ON u.firmId = f.firmId
        WHERE u.userId = #{userId}
           OR u.mobile = #{userId}
           OR u.email = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.abel.bigwater.model.BwUser">
        INSERT INTO bw_user
        ( userId
        , userName
        , mobile
        , email
        , status
        , passHash
        , firmId
        , emailValid
        , emailToken
        , userToken
        , smallIcon
        , bigIcon
        , signPic
        , createBy
        , createDate
        , verifyStuff)
        VALUES ( #{userId}
               , #{userName}
               , #{mobile}
               , #{email}
               , #{status}
               , #{passHash}
               , #{firmId}
               , #{emailValid}
               , #{emailToken}
               , #{userToken}
               , #{smallIcon}
               , #{bigIcon}
               , #{signPic}
               , #{createBy}
               , now()
               , #{verifyStuff})

    </insert>

    <delete id="deleteUser" parameterType="com.abel.bigwater.model.BwUser">
        DELETE
        FROM bw_user
        <where>
            userId = #{userId}
            <if test="firmId != null">
                AND firmId LIKE #{firmId}
            </if>
        </where>
    </delete>

    <update id="updateUser" parameterType="com.abel.bigwater.model.BwUser">

        UPDATE bw_user
        <set>
            <if test='status != null'>
                status = #{status},
            </if>
            <if test='firmId != null'>
                firmId = #{firmId},
            </if>
            <if test='userName != null'>
                userName = #{userName},
            </if>
            <if test='mobile != null'>
                mobile = #{mobile},
            </if>
            <if test='email != null'>
                email = #{email},
            </if>
            <if test='passHash != null'>
                passHash = #{passHash},
            </if>
            <if test='signPic != null'>
                signPic = #{signPic},
            </if>
            <if test='smallIcon != null'>
                smallIcon = #{smallIcon},
            </if>
            <if test='bigIcon != null'>
                bigIcon = #{bigIcon},
            </if>
            <if test="verifyStuff != null">
                verifyStuff = #{verifyStuff},
            </if>
            updateBy = #{updateBy},
            updateDate = current_timestamp
        </set>
        WHERE userId = #{userId}
    </update>

    <update id="updateUserToken" parameterType="com.abel.bigwater.model.BwUser">

        UPDATE bw_user
        <set>
            <if test='emailValid != null'>
                emailValid = #{emailValid},
            </if>
            <if test='emailToken != null'>
                emailToken = #{emailToken},
            </if>
            <if test='userToken != null'>
                userToken = #{userToken},
            </if>
        </set>
        WHERE userId = #{userId}
    </update>

    <insert id="insertUserLogin" parameterType="com.abel.bigwater.model.BwUserLogin">
        INSERT INTO bw_user_login
        (sessionId,
         userId,
         loginTime,
         ipAddr,
         devId,
         shareSalt)
        VALUES (#{sessionId},
                #{userId},
                #{loginTime},
                #{ipAddr},
                #{devId},
                #{shareSalt})
    </insert>

    <delete id="deleteUserLogin">
        DELETE
        FROM bw_user_login
        WHERE sessionId = #{sid}
    </delete>

    <delete id="deleteUserLoginObsolete">
        DELETE
        FROM bw_user_login
        WHERE loginTime &lt; now() - interval '1 month'
    </delete>

    <select id="selectUserLogin" parameterType="com.abel.bigwater.api.LoginRequest"
            resultType="com.abel.bigwater.model.BwUserLogin">
        SELECT ul.sessionId,
               ul.userId,
               ul.loginTime,
               ul.ipAddr,
               ul.devId,
               ul.shareSalt,
               u.userName,
               u.firmId,
               u.smallIcon,
               u.bigIcon,
               u.signPic,
               u.verifyStuff,
               f.firmName
        FROM bw_user_login ul
                 JOIN bw_user u ON (ul.userId = u.userId)
                 LEFT JOIN bw_firm f ON (u.firmId = f.firmId)
        WHERE ul.userId = #{userId}
          AND ul.devId = #{devId}
          AND ul.sessionId = #{sessionId}
    </select>

    <select id="listUserLogin" resultType="com.abel.bigwater.model.BwUserLogin">
        SELECT ul.sessionId,
        ul.userId,
        ul.loginTime,
        ul.ipAddr,
        ul.devId,
        ul.shareSalt,
        u.userName,
        u.firmId
        , u.smallIcon
        , u.bigIcon
        , u.signPic
        , u.verifyStuff
        , f.firmName
        FROM bw_user_login ul JOIN bw_user u ON (ul.userId = u.userId)
        LEFT JOIN bw_firm f ON (u.firmId = f.firmId)
        WHERE f.firmId LIKE #{firmId}
        <if test='userId != null'>
            AND ul.userId LIKE #{userId}
        </if>
        <if test='startTime != null'>
            AND ul.loginTime &gt;= #{startTime}
        </if>
        <if test='endTime != null'>
            AND ul.loginTime &lt; #{endTime}
        </if>
        <if test='sessionId != null'>
            AND ul.sessionId = #{sessionId}
        </if>
    </select>

    <delete id="kickUserLogin">

        DELETE FROM bw_user_login
            USING bw_user_login AS ul
            LEFT JOIN bw_user u ON ul.userId = u.userId
        <where>
            <choose>
                <when test='sessionId != null'>
                    ul.sessionId = #{sessionId}
                </when>
                <otherwise>
                    <if test='firmId != null'>
                        AND u.firmId LIKE #{firmId}
                    </if>
                    <if test='userId != null'>
                        AND ul.userId = #{userId}
                    </if>
                    <if test='startTime != null'>
                        AND ul.loginTime &gt;= #{startTime}
                    </if>
                    <if test='endTime != null'>
                        AND ul.loginTime &lt; #{endTime}
                    </if>
                </otherwise>
            </choose>
        </where>
    </delete>

    <select id="rightList" resultType="com.abel.bigwater.model.BwRight">
        SELECT rightName AS name
             , rightDesc
             , preInit
        FROM bw_right
    </select>

    <select id="roleList" resultType="com.abel.bigwater.model.BwRole">
        SELECT roleName as name
             , roleDesc
             , preInit
        FROM bw_role
    </select>

    <select id="userRoleList" resultType="com.abel.bigwater.model.BwRole">
        SELECT ur.userId   AS userId
             , ur.roleName as name
             , r.roleDesc
        FROM bw_user_role ur
                 JOIN bw_role r ON ur.roleName = r.roleName
        WHERE ur.userId = #{userId}
    </select>

    <select id="userRightList" resultType="com.abel.bigwater.model.BwRight">
        SELECT DISTINCT r.rightName AS name
        , r.rightDesc
        FROM bw_user_role ur
        JOIN bw_role_right rr ON ur.roleName = rr.roleName
        JOIN bw_right r ON rr.rightName = r.rightName
        WHERE ur.userId = #{userId}
        <if test='rightName != null'>
            AND r.rightName = #{rightName}
        </if>

    </select>

    <select id="selectRole" resultType="com.abel.bigwater.model.BwRole">
        SELECT roleName as name, roleDesc
        FROM bw_role
        WHERE roleName = #{name}

    </select>

    <select id="roleRightList" resultType="com.abel.bigwater.model.BwRight">
        SELECT rr.rightName as name
             , r.rightDesc
        FROM bw_role_right rr
                 JOIN bw_right r ON rr.rightName = r.rightName
        WHERE rr.roleName = #{roleName}

    </select>

    <insert id="insertRole" parameterType="com.abel.bigwater.model.BwRole">
        INSERT into bw_role(roleName, roleDesc, preInit)
        VALUES (#{name}, #{roleDesc}, false)
    </insert>

    <insert id="insertRoleRight">
        INSERT INTO bw_role_right (roleName, rightName)
        VALUES (#{roleName}, #{rightName})
    </insert>

    <insert id="insertUserRole">
        INSERT INTO bw_user_role(userId, roleName)
        VALUES (#{userId}, #{roleName})
    </insert>

    <update id="updateRole" parameterType="com.abel.bigwater.model.BwRole">
        UPDATE bw_role
        set roleName = #{name},
            roleDesc = #{roleDesc}
        WHERE roleName = #{name}
          AND preInit = false
    </update>

    <delete id="deleteRole">
        DELETE
        FROM bw_role
        WHERE roleName = #{roleName}
          AND preInit = false
    </delete>

    <delete id="deleteRoleRight">
        DELETE FROM bw_role_right
            USING bw_role_right AS rr
            LEFT JOIN bw_role rl ON rr.rolename = rl.rolename
        WHERE rr.roleName = #{roleName}
          AND rl.preInit = false
    </delete>

    <delete id="deleteUserRole">
        DELETE FROM bw_user_role
        WHERE userId = #{userId}
    </delete>

    <update id="updateLoginCity" parameterType="com.abel.bigwater.model.BwUserLogin">
        UPDATE bw_user_login
        <set>
            loginCity = #{city}
        </set>
        <where>
            sessionId = #{id}
        </where>

    </update>

    <insert id="insertUserOper" parameterType="com.abel.bigwater.model.BwUserOper"
            keyProperty="operId" keyColumn="operid" useGeneratedKeys="true">
        INSERT INTO bw_user_oper
        (userId,
         operTime,
         returnTime,
         firmId,
         devId,
         operCase,
         operRole,
         operRight,
         operResult,
         operDesc,
         clientIp,
         serverIp,
         operCity)
        VALUES (#{userId},
                #{operTime},
                #{returnTime},
                #{firmId},
                #{devId},
                #{operCase},
                #{operRole},
                #{operRight},
                #{operResult},
                #{operDesc},
                #{clientIp},
                #{serverIp},
                #{operCity});
    </insert>

    <update id="updateUserOper" parameterType="com.abel.bigwater.model.BwUserOper">
        UPDATE bw_user_oper
        <set>
            <if test="operCity != null">
                operCity = #{operCity},
            </if>
            <if test="returnTime != null">
                returnTime = #{returnTime}
            </if>
        </set>
        <where>
            operId = #{operId}
        </where>
    </update>

    <select id="listUserOper" parameterType="com.abel.bigwater.api.UserOperParam"
            resultType="com.abel.bigwater.model.BwUserOper">
        SELECT operId
        , userId
        , operTime
        , returnTime
        , firmId
        , operCase
        , operRole
        , operRight
        , operResult
        , operDesc
        FROM bw_user_oper
        <where>
            <if test='firmId != null'>
                firmId LIKE #{firmId}
            </if>
            <if test='operTime1 != null'>
                AND operTime &gt;= #{operTime1}
            </if>
            <if test='operTime2 != null'>
                AND operTime &lt; #{operTime2}
            </if>
            <if test='userId != null'>
                AND userId = #{userId}
            </if>
            <if test='operCase != null'>
                AND operCase = #{operCase}
            </if>
        </where>
    </select>

    <select id="statUserOper" parameterType="com.abel.bigwater.api.UserOperParam"
            resultType="com.abel.bigwater.model.BwUserOper">
        SELECT userId AS userId
        , operCase
        , COUNT(1) AS operCount
        FROM bw_user_oper
        <where>
            <if test='firmId != null'>
                firmId LIKE #{firmId}
            </if>
            <if test='operTime1 != null'>
                AND operTime &gt;= #{operTime1}
            </if>
            <if test='operTime2 != null'>
                AND operTime &lt; #{operTime2}
            </if>
            <if test='userId != null'>
                AND userId = #{userId}
            </if>
            <if test='operCase != null'>
                AND operCase = #{operCase}
            </if>
        </where>
        GROUP BY userId, operCase
    </select>

</mapper>